{% extends "layout.html" %}

{% block content %}
  <h1 class="display-4">Detalles del producto</h1>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><strong>Nombre:</strong> {{ producto.nombre }}</h2>
      <p class="card-text"><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
      <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
      <p class="card-text"><strong>Stock:</strong> {{ producto.stock }}</p>
      <p class="card-text"><strong>Fecha de Publicación:</strong> {{ producto.pub_date }}</p>
    </div>
  </div>
  
  <style>
    .card {
      margin-top: 20px;
      border: 2px solid #007BFF;
      border-radius: 10px;
    }
    .card-title {
      font-size: 24px;
      color: #007BFF;
    }
    .card-text {
      font-size: 18px;
      margin-bottom: 5px;
    }
  </style>
{% endblock %}
